<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ec"
    android:versionCode="5"
    android:versionName="1.0.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ec.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ec.activities.CalcActivity"
            android:label="@string/title_activity_calc" >
        </activity>
        <activity
            android:name="com.ec.activities.CalcResultActivity"
            android:label="@string/title_activity_calc_results" >
        </activity>
        <activity
            android:name="com.ec.activities.ProbabilityActivity"
            android:label="@string/title_activity_probability" >
        </activity>
        <activity
            android:name="com.ec.activities.ProbabilityResultActivity"
            android:label="@string/title_activity_probability_result" >
        </activity>
        <activity
            android:name="com.ec.activities.HeadOrTailActivity"
            android:label="@string/title_activity_head_or_tail" >
        </activity>
    </application>

</manifest>
